In [ ]:
Number 1 -

Question -
Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
len(test1)

43

In [2]:
with open('test.txt', 'wt') as outfile:
    outfile.write(test1)

In [ ]:
outfile.close()

In [ ]:
Number 2 -

Question -
Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Answer -

In [3]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
len(test2)

43

In [4]:
 test1 == test2

True

In [ ]:
Number 3 -

Question -
Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

Answer -

In [5]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [ ]:
Number 4 -

Question -
Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

Answer -

In [6]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [ ]:
Number 5 -

Question -
Read books.csv and insert its data into the book table.

Answer -

In [7]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [8]:
db.commit()

In [ ]:
Number 6 -

Question -
Select and print the title column from the book table in alphabetical order.

Answer -

In [9]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [10]:
#to print the title value without that tuple stuff (parentheses and comma):
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
Number 7 -

Question -
From the book table, select and print all columns in the order of publication.

Answer -

In [11]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [12]:
#To print all the fields in each row, just separate with a comma and space:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

In [ ]:
Number 8 -

Question -
Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

Answer -

In [13]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [ ]:
Number 9 -

Question -
Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

Answer -

In [15]:
import redis
conn = redis.Redis()
conn.delete('test')

ModuleNotFoundError: No module named 'redis'

In [ ]:
Number 10 -

Question -
Increment the count field of test and print it.

Answer -

In [16]:
conn.hincrby('test', 'count', 3)

AttributeError: 'Engine' object has no attribute 'hincrby'

In [17]:
conn.hget('test', 'count')

AttributeError: 'Engine' object has no attribute 'hget'